<div class="dashboard-container">
    <div class="header-container">
      <h2>Welcome Back Hazem! Here are your latest updates.</h2>
      <button class="new-request-btn">New Request</button>
    </div>
    
    <div class="content">
      <div class="profile-card">
        <div class="profile-upper">
          <img src="assets/img/profile.png" alt="Profile Picture" class="profile-img1">
          <a href="#"><button class="view-profile">View Profile</button></a>
        </div>
        <div class="profile-lower">
          <div class="info">
            <i class="fas fa-user-tie"></i>
            <div>
              <span>Reporting To:</span>
              <div class="info-value">Salwa Assem</div>
            </div>
          </div>
          <div class="info">
            <i class="fas fa-chart-line"></i>
            <div>
              <span>Corporate Level:</span>
              <div class="info-value">Level 10</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="request-cards">
        <app-request-card title="Vacation Requests" [count]="10"></app-request-card>
        <app-request-card title="Leave Requests" [count]="10"></app-request-card>
      </div>
    </div>
  </div>
  