<div class="col-md-3 mb-3">
    <div class="card" style="margin-left: 15px;">
        <img src="img/profile.png" class="card-img-top profile-img" alt="Profile Picture">
        <div class="card-body">
            <h5 class="card-title">Ahmad Attar</h5>
            <p class="par">Submitted on:</p>
            <p class="par"><strong>1/3/2024</strong></p>
            <p class="par">Duration:</p>
            <p class="par"><strong>{{duration}} (1/4/2023 - 14/4/2023)</strong></p>
            <p class="par">Salary:</p>
            <p class="par"><strong>{{salary}} AED</strong></p>
            <div class="button-container">
                <button class="btn btn-decline">Decline</button>
                <button class="btn btn-approve">Approve</button>
            </div>
        </div>
    </div>
</div>